@import '../../styles/base/';


.letters-row {
    width: 70%;
    display: flex;
    margin: 50px 10px;
  

    &__letter {
        box-sizing: border-box;
    padding: 20px 50px;
    background-color: $white;
    color: $darkblue;
    font-size: $font-size-30;
    margin-right:10px;
    width: 60px;
    height: 60px;
    }
}